<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqaQO13i-Qbh9IZYyEhhzzisYslGkLGGU</string>
	<key>GCM_SENDER_ID</key>
	<string>31006452518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KrickFire.TwitterCloneSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>tweet-clone-f6b3a</string>
	<key>STORAGE_BUCKET</key>
	<string>tweet-clone-f6b3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31006452518:ios:24f527170857451829efe7</string>
</dict>
</plist>